*{
	font-family: 'Tektur', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');



#landing {
	/*height: 100vh;*/
}

#nav_bg {
	color: #C26D2D;
 	position: fixed;
  	top: 0;
  	width: 100%;
  	padding-right: 100px;
}


.home_1 {
	font-family: 'Pacifico', cursive;;
	color: #C26D2D !important; 
	border-style: dotted;
	border-color: whitesmoke;
	border-radius: 20px;
}


#web_dev, #email_me{
	font-family: 'Tektur', cursive;
	color: #C26D2D;
}


#me_me {
	font-family: 'Architects Daughter', cursive;
	
}


.uil {
	color: #C26D2D;
	font-size: 30px;
}



/*Background*/
#landing {
	background-color: #F6E5D9;
}

hr {
	background-color: #D1966A;
}


#dotted {
	border-style: dotted; 
	border-color: #D1966A;
}


/*Images*/

#girl {
	border-radius: 150px 150px 0px 0px;
	box-shadow: 15px 15px 5px whitesmoke;
}


footer {
	background-color: #DFB88E;
	color: #C26D2D;
}

#tools {
	background-color: #F6E5D9;
}

#core_tools {
	color: #C26D2D;
}

#other_tool {
	color: #C26D2D;
}


.hr1 {
	border-top: 3px dotted;
}


#get_in {
	color: #C26D2D;
}

form {
	border: 5px solid white;
}

.contact-form {
	color: #C26D2D;
}

.contact_me {
	border-radius: 10px
}


#projects {
	color: #C26D2D;
}

.project1{
	color: #C26D2D;
}

.project2{
	color: #C26D2D;
}

#p1 {
	border-radius: 20px 20px 20px 20px;
	width: 500x;
	height: 600px;

}

